import '@fontsource/roboto/400.css';
import '@fontsource/roboto/500.css';
import '@fontsource/roboto/700.css';
import '@fontsource/roboto/900.css';

:root {
    --primary: #13250e;
    --secondary: #4c8435;
}


body {
    background-color: #13250e;
    color: white;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
